@model SportStatistics.Models.FederationSeason

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FederationSeason</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SportFederation.NameSportString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportFederation.NameSportString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameSportString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameTournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTournament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FederationSeasonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
