@model IEnumerable<SportStatistics.Models.FederationSeason>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string season = "";
}

<h2 class="myTitleComic">Table of all Federation Seasons</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name Sport")
        </th>
        <th>
            @Html.DisplayName("Federation")
        </th>
        <th>
            @Html.DisplayName("Tournament")
        </th>
        <th>
            @Html.DisplayName("Name Tournament")
        </th>
        <th>
            @Html.DisplayName("Season")
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SportFederation.NameSportString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SportFederation.Country)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameTournament)
        </td>
        <td>
            @{
                string name = (int)item.Season + "";
                int seas = Convert.ToInt32(name);
                seas++;
                name = name + "/" + Convert.ToString(seas);
            }
            @name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FederationSeasonId }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.FederationSeasonId })
        </td>
    </tr>
}
</table>
