@model SportStatistics.Models.Match

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="sport-delete sport-div">
        <label class="mTitle">Match</label>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MatchId)

        <div>
            <div>
                @Html.Label("NameSport", htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EnumDropDownListFor(model => model.NameSport, htmlAttributes: new { @class = "mySelect" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.Label("Season", htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EnumDropDownListFor(model => model.Season, htmlAttributes: new { @class = "mySelect" })
                @Html.ValidationMessageFor(model => model.Season, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.Label("Tournament", htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EnumDropDownListFor(model => model.Tournament, htmlAttributes: new { @class = "mySelect" })
                @Html.ValidationMessageFor(model => model.Tournament, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.NameTournament, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.NameTournament, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.NameTournament, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.Tour, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.Tour, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.Tour, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.NameStadium, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.NameStadium, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.NameStadium, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.HomeTeam, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeTeam, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.HomeTeam, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.AwayTeam, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.AwayTeam, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.AwayTeam, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.HomeTeamGoal, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.HomeTeamGoal, new { htmlAttributes = new { @class = "myContent-field", @type = "number", @min = 0, @Value = 0 } })
                @Html.ValidationMessageFor(model => model.HomeTeamGoal, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.AwayTeamGoal, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.AwayTeamGoal, new { htmlAttributes = new { @class = "myContent-field", @type = "number", @min = 0, @Value = 0 } })
                @Html.ValidationMessageFor(model => model.AwayTeamGoal, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.Label("Home Team Result", htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EnumDropDownListFor(model => model.HomeTeamResult, htmlAttributes: new { @class = "mySelect" })
            </div>
        </div>

        <div>
            <div>
                @Html.Label("Away Team Result", htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EnumDropDownListFor(model => model.AwayTeamResult, htmlAttributes: new { @class = "mySelect" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.HomePlayers, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.HomePlayers, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.HomePlayers, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.AwayPlayers, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.AwayPlayers, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.AwayPlayers, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.TimeLineHome, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.TimeLineHome, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.TimeLineHome, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.TimeLineAway, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.TimeLineAway, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.TimeLineAway, "", new { @class = "myValid2" })
            </div>
        </div>
    </div>
    <br class="clear" />
    <p class="mid">
        <input type="submit" value="Save" class="myButtonInfo" />
    </p>
}

<div class="sport-create-l">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
</div>