@model SportStatistics.Models.Match

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameSportString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameTournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTournament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameStadium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameStadium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamResultString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamResultString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamResultString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamResultString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLineHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLineHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLineAway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLineAway)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
