@model SportStatistics.Models.Match

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Details</h2>

<div class="sport-delete">
    <label class="mTitle">Match</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            @Html.DisplayName("Name Sport")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Season")
        </dt>

        <dd class="myContent2-title">
            @{
                string name = (int)Model.Season + "";
                int seas = Convert.ToInt32(name);
                seas++;
                name = name + "/" + Convert.ToString(seas);
            }
            @name
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Tournament")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.TournamentString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Name Tournament")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameTournament)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Tour)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Name Stadium")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameStadium)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Home Team")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Away Team")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Home Team Goals")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.HomeTeamGoal)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Away Team Goal")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.AwayTeamGoal)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Home Team Result")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.HomeTeamResultString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Away Team Result")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.AwayTeamResultString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Home Players")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.HomePlayers)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Away Players")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.AwayPlayers)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Time Line Home")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.TimeLineHome)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Time Line Away")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.TimeLineAway)
        </dd>

    </dl>
    <br class="clear" />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MatchId }, new { @class = "myLinkBack" })
        <b> | </b>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
    </p>
</div>

