@model IEnumerable<SportStatistics.Models.Match>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Table of all Matches</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "myLink2" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameSportString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameTournament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameStadium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamResultString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamResultString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLineHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLineAway)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameSportString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameTournament)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameStadium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamResultString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamResultString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeLineHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeLineAway)
        </td>
        <td>            
            @Html.ActionLink("Edit", "Edit", new { id = item.MatchId })
            @Html.ActionLink("Details", "Details", new { id = item.MatchId })
            @Html.ActionLink("Delete", "Delete", new { id = item.MatchId })            
        </td>
    </tr>
}

</table>
