@model IEnumerable<SportStatistics.Models.Match>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(source: Model, rowsPerPage: 50, ajaxUpdateContainerId: "webGrid");
}

<h2 class="myTitleComic">Table of all Matches</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "myLink2" })
</p>
@using (Html.BeginForm("Index", "Matches", FormMethod.Post))
{
    <div class="search-l">
        @Html.Label("Search Matches", new { @class = "myTitleText" })
        @Html.Editor("edit", new { htmlAttributes = new { @class = "search" } })
        <button class="search-btn"></button>
    </div>
}

<div id="webGrid">
    @grid.GetHtml(
        tableStyle: "table",
        footerStyle: "myTableFooter",
        mode: WebGridPagerModes.All,
        firstText: "1 <<",
        previousText: "<",
        nextText: ">",
        lastText: ">> " + Convert.ToString(grid.PageCount),
        numericLinksCount: 6,
        columns: grid.Columns(
            grid.Column(header: "NameSport", format: model => model.NameSportString),
            grid.Column(header: "Federation", format: model => model.Country),
            grid.Column(header: "Season", format:
            @<text>
                @{
                    string name = (int)item.Season + "";
                    int seas = Convert.ToInt32(name);
                    seas++;
                    name = name + "/" + Convert.ToString(seas);
                }
                @name
            </text>),
            grid.Column(header: "Tournament", format: model => model.TournamentString),
            grid.Column(header: "NameTournament", format: model => model.NameTournament),
            grid.Column(header: "Date", format: model => model.Date), 
            grid.Column(header: "HomeTeam", format: model => model.HomeTeam), 
            grid.Column(header: "AwayTeam", format: model => model.AwayTeam),
            grid.Column(header: "Tour", format: model => model.Tour),
            grid.Column(header: "NameStadium", format: model => model.NameStadium),
            grid.Column(header: "HomeTeamGoal", format: model => model.HomeTeamGoal),
            grid.Column(header: "AwayTeamGoal", format: model => model.AwayTeamGoal),
            grid.Column(header: "HomeResult", format: model => model.HomeTeamResultString),
            grid.Column(header: "AwayResult", format: model => model.AwayTeamResultString),
            grid.Column(header: "Home Players", format: model => model.HomePlayers),
            grid.Column(header: "Away Players", format: model => model.AwayPlayers),
            grid.Column(header: "TimeLineHome", format: model => model.TimeLineHome),
            grid.Column(header: "TimeLineAway", format: model => model.TimeLineAway),
            grid.Column(header: "Action", format:
            @<text>
                @Html.ActionLink("Edit", "Edit", new { id = item.MatchId })
                @Html.ActionLink("Details", "Details", new { id = item.MatchId })
                @Html.ActionLink("Delete", "Delete", new { id = item.MatchId })
            </text>
            )
        )
    )
</div>
