@model SportStatistics.Models.Team

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Delete</h2>

<div class="sport-delete">
    <h3 class="myValid2">Are you sure you want to delete this?</h3>
    <label class="mTitle">Team</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            @Html.DisplayName("Name Sport")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Name Stadium")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameStadium)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Foundation Date")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.FoundationDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="myButtonDelete" />
            <b> | </b>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
        </div>
    }
</div>
