@model SportStatistics.Models.Team

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Details</h2>

<div class="sport-delete">
    <label class="mTitle">Team</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            @Html.DisplayName("Name Sport")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Name Stadium")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameStadium)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Foundation Date")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.FoundationDate)
        </dd>
    </dl>
    <br class="clear" />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }, new { @class = "myLinkBack" })
        <b> | </b>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
    </p>
</div>

