@model SportStatistics.Models.SportFederation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="sport-delete sport-div">
        <label class="mTitle">SportFederation</label>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "myValid2" })
        @Html.HiddenFor(model => model.SportFederationId)

        <div>
            <div>
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.FoundationDate, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.FoundationDate, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.FoundationDate, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.NamePresident, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.NamePresident, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.NamePresident, "", new { @class = "myValid2" })
            </div>
        </div>

        <div>
            <div>
                @Html.LabelFor(model => model.SportId, "SportId", htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.DropDownList("SportId", null, htmlAttributes: new { @class = "mySelect" })
                @Html.ValidationMessageFor(model => model.SportId, "", new { @class = "myValid2" })
            </div>
        </div>
        <br class="clear" />                
        <input type="submit" value="Save" class="myButtonInfo" />        
    </div>
}

<div class="sport-create-l">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
</div>
