@model IEnumerable<SportStatistics.Models.SportFederation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sport.NameSportString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamePresident)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sport.NameSportString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamePresident)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SportFederationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SportFederationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SportFederationId })
        </td>
    </tr>
}

</table>
