@model SportStatistics.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="sport-div-marg sport-div">
        <div>
            <div>
                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.PasswordFor(model => model.OldPassword, new { @class = "myContent-field" })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "myValid2" })
            </div>
        </div>
        <div>
            <div>
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.PasswordFor(model => model.NewPassword, new { @class = "myContent-field" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "myValid2" })
            </div>
        </div>
        <div>
            <div>
                @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "myContent-field" })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "myValid2" })
            </div>
        </div>
    </div>
    <br class="clear" />
    <p class="mid">
        <button class="myButtonInfo">Change</button>
    </p>
    <div class="mid myTitleText">
        @ViewBag.ChangePassword
    </div>
}

