@model SportStatistics.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="sport-div-marg sport-div">
        <div>
            <div>
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.UserName, null, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "myValid2" })
            </div>
        </div>
        <div>
            <div>
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "myTitleText" })
            </div>
            <div>
                @Html.EditorFor(model => model.Email, null, new { htmlAttributes = new { @class = "myContent-field" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "myValid2" })
            </div>
        </div>       
    </div>
    <br class="clear" />
    <div class="mid">
        @Html.ValidationSummary(true, null, new { @class = "myValid2" })
    </div>
    <p class="mid">
        <button class="myButtonInfo">Send</button>
    </p>
    <div class="mid myTitleText">
        @ViewBag.Message
    </div>
}