@model SportStatistics.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Details</h2>

<div class="sport-delete">
    <label class="mTitle">Player</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.NameSportString)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.PositionString)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.PositionString)
        </dd>
    </dl>
    <br class="clear" />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }, new { @class = "myLinkBack" })
        <b> | </b>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
    </p>
</div>

