@model IEnumerable<SportStatistics.Models.Player>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(source: Model, rowsPerPage: 50, ajaxUpdateContainerId: "webGrid");        
}

<h2 class="myTitleComic">Table of all Players</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "myLink2" })
</p>
@using (Html.BeginForm("Index", "Players", FormMethod.Post))
{
    <div class="search-l">
        @Html.Label("Search Players", new { @class = "myTitleText" })
        @Html.Editor("edit", new { htmlAttributes = new { @class = "search" } })
        <button class="search-btn"></button>
    </div>
}

    <div id="webGrid">
        @grid.GetHtml(
            tableStyle: "table",            
            footerStyle: "myTableFooter",
            mode: WebGridPagerModes.All,
            firstText: "1 <<",
            previousText: "<",
            nextText: ">",
            lastText: ">> " + Convert.ToString(grid.PageCount),
            numericLinksCount: 6,
            columns: grid.Columns(
                    grid.Column(header: "Name Sport", format: model => model.NameSport),
                    grid.Column("Name", format:
                    @<text>
                        @{string name = item.Name + " " + item.Surname; }
                        @Html.ActionLink(name, "Player", "Home", routeValues:
                                    new { fedSeason = 10, PlayerId = item.PlayerId },
                                    htmlAttributes: null)
                    </text>),
                    grid.Column(header: "Birthday", format: model => model.Birthday),
                    grid.Column(header: "Age", format: model => model.Age),
                    grid.Column(header: "Nationality", format: model => model.Nationality),
                    grid.Column(header: "Weight", format: model => model.Weight),
                    grid.Column(header: "Height", format: model => model.Height),
                    grid.Column(header: "Position", format: model => model.PositionString),
                    grid.Column(header: "Action", format:
                    @<text>        
                        @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
                    </text>
                    )
                )
            )
    </div>
