@model SportStatistics.Models.TeamSeason

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeamSeason</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FederationSeason.NameSportString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FederationSeason.NameSportString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.NameSportString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.NameSportString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameSportString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSportString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Win)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Win)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeWin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeWin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Draw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Draw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeDraw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeDraw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeLose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeLose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoalAgainst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalAgainst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeGoalAgainst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoalAgainst)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
