@model IEnumerable<SportStatistics.Models.TeamSeason>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(source: Model, rowsPerPage: 50, ajaxUpdateContainerId: "webGrid");
}

<h2 class="myTitleComic">Table of all Team Seasons</h2>
@using (Html.BeginForm("Index", "TeamSeasons", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="search-l">
        <div class="search-size">
            @Html.Label("Search Team Seasons", new { @class = "myTitleText" })
        </div>
        <div>
            @Html.Editor("edit", new { htmlAttributes = new { @class = "search" } })
        </div>
        <div>
            @Html.DropDownList("myList", null, new { @class = "mySelect" })
        </div>
        <div>
            <button class="search-btn"></button>
        </div>
    </div>
}

<div id="webGrid" class="webGrid">
    @grid.GetHtml(
            tableStyle: "table",
            footerStyle: "myTableFooter",
            mode: WebGridPagerModes.All,
            firstText: "1 <<",
            previousText: "<",
            nextText: ">",
            lastText: ">> " + Convert.ToString(grid.PageCount),
            numericLinksCount: 6,
            columns: grid.Columns(
                    grid.Column(header: "NameSport", format: model => model.Team.NameSportString),
                    grid.Column(header: "Federation", format: model => model.FederationSeason.SportFederation.Country),
                    grid.Column(header: "Tournament", format: model => model.FederationSeason.TournamentString),
                    grid.Column(header: "NameTeam", format:
                    @<text>
                            @{string name = item.NameTeam; }
                            @Html.ActionLink(name, "Team", "Home", routeValues:
                                            new { fedSeason = 10, TeamId = item.TeamId }, htmlAttributes: null)
                    </text>),
                    grid.Column(header: "Season", format:
                    @<text>
                        @{
                            string name = (int)item.Season + "";
                            int seas = Convert.ToInt32(name);
                            seas++;
                            name = name + "/" + Convert.ToString(seas);
                        }
                        @name
                    </text>),
                    grid.Column(header: "Played", format: model => model.Played),
                    grid.Column(header: "HomePlayed", format: model => model.HomePlayed),
                    grid.Column(header: "Point", format: model => model.Point),
                    grid.Column(header: "HomePoint", format: model => model.HomePoint),
                    grid.Column(header: "Win", format: model => model.Win),
                    grid.Column(header: "HomeWin", format: model => model.HomeWin),
                    grid.Column(header: "Draw", format: model => model.Draw),
                    grid.Column(header: "HomeDraw", format: model => model.HomeDraw),
                    grid.Column(header: "Lose", format: model => model.Lose),
                    grid.Column(header: "HomeLose", format: model => model.HomeLose),
                    grid.Column(header: "Goals", format: model => model.Goals),
                    grid.Column(header: "HomeGoals", format: model => model.HomeGoals),
                    grid.Column(header: "GoalAgainst", format: model => model.GoalAgainst),
                    grid.Column(header: "HomeGoalAgainst", format: model => model.HomeGoalAgainst),
                    grid.Column(header: "Action", format:
                    @<text>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TeamSeasonId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.TeamSeasonId })
                    </text>
                    )
                )
            )
</div>


