
@{
    ViewBag.Title = "AddData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Data</h2>
@using (Html.BeginForm("AddData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div class="half">
            <div class="add-obj">
                @Html.Label("Add a sport")
                <div>
                    @Html.ActionLink("Create", "Create", "Sports")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "Sports")
                </div>                
            </div>
            <div class="add-obj">
                @Html.Label("Add a sport federation")
                <div>
                    @Html.ActionLink("Create", "Create", "SportFederations")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "SportFederations")
                </div>
                <div>
                    <input type="file" name="files"/>
                    <button>Add</button>
                </div>
            </div>
            <div class="add-obj">
                @Html.Label("Add a player")
                <div>
                    @Html.ActionLink("Create", "Create", "Players")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "Players")
                </div>
                <div>
                    <input type="file" name="files" />
                    <button>Add</button>
                </div>
            </div>
            <div class="add-obj">
                @Html.Label("Add a team")
                <div>
                    @Html.ActionLink("Create", "Create", "Matches")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "Matches")
                </div>
                <div>
                    <input type="file" name="files" />
                    <button>Add</button>
                </div>
            </div>            
        </div>
        <div class="half">
            <div class="add-obj">
                @Html.Label("Add a play season  of the Federation")
                <div>
                    @Html.ActionLink("Create", "Create", "FederationSeasons")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "FederationSeasons")
                </div>
                <div>
                    <input type="file" name="files" />
                    <button>Add</button>
                </div>
            </div>
            <div class="add-obj">
                @Html.Label("Add a Player season")
                <div>
                    @Html.ActionLink("Create", "Create", "PlayerSeasons")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "PlayerSeasons")
                </div>
                <div>
                    <input type="file" name="files" />
                    <button>Add</button>
                </div>
            </div>
            <div class="add-obj">
                @Html.Label("Add a Team season")
                <div>
                    @Html.ActionLink("Create", "Create", "TeamSeason")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "TeamSeason")
                </div>
                <div>
                    <input type="file" name="files" />
                    <button>Add</button>
                </div>
            </div>
            <div class="add-obj">
                @Html.Label("Add a match")
                <div>
                    @Html.ActionLink("Create", "Create", "Matches")
                    @Html.Label(" | ")
                    @Html.ActionLink("Show", "Index", "Matches")
                </div>
                <div>
                    <input type="file" name="files" />
                    <button>Add</button>
                </div>
            </div>
        </div>        
    </div>    
}

