@model List<SportStatistics.Models.ViewModels.Progress>
@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn, #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10').click(function () {
                $('#loadingDiv').show();
            });
        });
    </script>

    var grid = new WebGrid(source: Model, defaultSort: "Rank", rowsPerPage: 20, ajaxUpdateContainerId: "webGrid");
    grid.SortDirection = SortDirection.Descending;

    int rank = 0;
}

@if(Model != null)
{
    <section class="progress">
        <h1 class="myTitleComic">Progress</h1>
        <div>
            <div class="form">
                @using (Html.BeginForm("Standings", "Home", FormMethod.Post))
                {
                    <div>
                        <div>
                            @Html.LabelFor(model => model[0].Season, htmlAttributes: new { @class = "mTitle" })
                        </div>
                        <div>
                            @Html.EnumDropDownListFor(model => model[0].Season, htmlAttributes: new { @class = "mySelect" })
                            @Html.HiddenFor(model => model[0].FederationSeasonId)
                            <button id="btn" class="myButtonOk">Ok</button>
                        </div>
                    </div>
                }
            </div>
            <div class="two">
                <div class="unform">
                    <div>
                        <label class="myTitleText">Standings:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Overall", "Standings", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a1", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Home", "StandingsHome", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a2", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Away", "StandingsAway", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a3", @class = "myLink" })
                    </div>
                </div>
                <div class="unform">
                    <div>
                        <label class="myTitleText">Progress:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Overall", "Progress", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a4", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Home", "ProgressHome", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a9", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Away", "ProgressAway", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a10", @class = "myLink" })
                    </div>
                </div>
                <div class="unform">
                    <div>
                        <label class="myTitleText">This season:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Scorers", "Scorers", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a5", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Result", "Result", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a6", @class = "myLink" })
                    </div>
                </div>
                <br class="clear" />
                <div class="unform">
                    <div>
                        <label class="myTitleText">Archive:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Winners", "Winners", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a7", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Scorers", "ArchScorers", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a8", @class = "myLink" })
                    </div>
                </div>
            </div>
            <div id="loadingDiv"><img src="~/images/icon/ball.gif"></div>
        </div>
        <div id="webGrid">
            @grid.GetHtml(
        tableStyle: "myTableP",
        headerStyle: "myTableHeader",
        footerStyle: "myTableFooter",
        columns: grid.Columns(
                grid.Column(header: "Rank", format: @<text>@{rank++;} @rank </text>),
                grid.Column("Team", format:
                @<text>
                    @{string name = item.NameTeam; }
                    @Html.ActionLink(name, "Team", "Home", routeValues:
                                new { fedSeason = item.FederationSeasonId, TeamId = item.TeamId },
                                htmlAttributes: null)
                </text>),            
                grid.Column(header: "Form", format:
                @<text>
                    @foreach (var it in item.Form)
                    {
                        if (it.WinDL.ToString() == "Win")
                        {
                            @Html.ActionLink("W", "Match", "Home", new { MatchId = @it.MatchId }, htmlAttributes: new { @title = @it.Result, @class = "link-W" })
                        }
                        else
                        if (it.WinDL.ToString() == "Draw")
                        {
                            @Html.ActionLink("D", "Match", "Home", new { MatchId = @it.MatchId }, htmlAttributes: new { @title = @it.Result, @class = "link-D" })              
                        }
                        else
                        {
                            @Html.ActionLink("L", "Match", "Home", new { MatchId = @it.MatchId }, htmlAttributes: new { @title = @it.Result, @class = "link-L" })
                        }
                    }
                    <div class="count">
                        @item.Count
                    </div>
                </text>
                )
            )
        )
        </div>
    </section>
}
else
{
    <div class="myTitleComic">
        <h2>Request failed</h2>
    </div>
} 

