@model List<SportStatistics.Models.ViewModels.Progress>
@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn, #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10').click(function () {
                $('#loadingDiv').show();
            });
        });
    </script>

    var grid = new WebGrid(source: Model, defaultSort: "Rank", rowsPerPage: 20, ajaxUpdateContainerId: "webGrid");
    grid.SortDirection = SortDirection.Descending;

    int rank = 0;
}

@if(Model != null)
{
    <section>
        <h1>Progress</h1>
        <div>
            @using (Html.BeginForm("Standings", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model[0].Season, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model[0].Season, htmlAttributes: new { @class = "form-control" })
                        @Html.HiddenFor(model => model[0].FederationSeasonId)
                        <button id="btn">Ok</button>
                        <div id="loadingDiv"><img src="~/images/icon/ball.gif"></div>
                    </div>
                </div>
            }
        </div>
        <div>
            <label>Standings:</label>
            @Html.ActionLink("Overall", "Standings", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a1" })
            @Html.ActionLink("Home", "StandingsHome", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a2" })
            @Html.ActionLink("Away", "StandingsAway", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a3" })
        </div>
        <div>
            <label>Progress:</label>
            @Html.ActionLink("Overall", "Progress", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a4" })
            @Html.ActionLink("Home", "ProgressHome", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a9" })
            @Html.ActionLink("Away", "ProgressAway", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a10" })
        </div>
        <div>
            <label>This season:</label>
            @Html.ActionLink("Scorers", "Scorers", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a5" })
            @Html.ActionLink("Result", "Result", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a6" })
        </div>
        <div>
            <label>Archive:</label>
            @Html.ActionLink("Winners", "Winners", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a7" })
            @Html.ActionLink("Scorers", "ArchScorers", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a8" })
        </div>
        <div id="webGrid">
            @grid.GetHtml(
        tableStyle: "myTable",
        headerStyle: "myTableHeader",
        footerStyle: "myTableFooter",
        columns: grid.Columns(
                grid.Column(header: "Rank", format: @<text>@{rank++;} @rank </text>),
                grid.Column("Team", format:
                @<text>
                    @{string name = item.NameTeam; }
                    @Html.ActionLink(name, "Team", "Home", routeValues:
                                new { fedSeason = item.FederationSeasonId, TeamId = item.TeamId },
                                htmlAttributes: null)
                </text>),            
                grid.Column(header: "Form", format:
                @<text>
                    @foreach (var it in item.Form)
                    {
                        if (it.WinDL.ToString() == "Win")
                        {
                            @Html.ActionLink("W", "Match", "Home", new { MatchId = @it.MatchId }, htmlAttributes: new { @title = @it.Result, @class = "link-W" })
                        }
                        else
                        if (it.WinDL.ToString() == "Draw")
                        {
                            @Html.ActionLink("D", "Match", "Home", new { MatchId = @it.MatchId }, htmlAttributes: new { @title = @it.Result, @class = "link-D" })              
                        }
                        else
                        {
                            @Html.ActionLink("L", "Match", "Home", new { MatchId = @it.MatchId }, htmlAttributes: new { @title = @it.Result, @class = "link-L" })
                        }
                    }
                    <div class="count">
                        @item.Count
                    </div>
                </text>
                )
            )
        )
        </div>
    </section>
}
else
{
    <div>
        <h2>Request failed</h2>
    </div>
} 

