@model List<SportStatistics.Models.ViewModels.Score>
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn, #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10').click(function () {
                $('#loadingDiv').show();
            });
        });
    </script>
}


@if (Model != null)
{
    <h2 class="myTitleComic">Result</h2>
    
    <div>
        <div>
            <div class="form formR">
                @using (Html.BeginForm("Standings", "Home", FormMethod.Post))
                {
                    <div>
                        <div>
                            @Html.LabelFor(model => model[0].Season, htmlAttributes: new { @class = " mTitle" })
                            @Html.Label("Tour", htmlAttributes: new { @class = "mTitle" })
                        </div>
                        <div>
                            @Html.EnumDropDownListFor(model => model[0].Season, htmlAttributes: new { @class = "mySelect" })
                            @Html.DropDownList("myList", null, htmlAttributes: new { @class = "mySelect" })
                            @Html.HiddenFor(model => model[0].FederationSeasonId)
                            <button id="btn" class="myButtonOk">Ok</button>
                        </div>
                    </div>
                }
            </div>
            <div class="two">
                <div class="unform">
                    <div>
                        <label class="myTitleText">Standings:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Overall", "Standings", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a1", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Home", "StandingsHome", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a2", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Away", "StandingsAway", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a3", @class = "myLink" })
                    </div>
                </div>
                <div class="unform">
                    <div>
                        <label class="myTitleText">Progress:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Overall", "Progress", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a4", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Home", "ProgressHome", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a9", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Away", "ProgressAway", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a10", @class = "myLink" })
                    </div>
                </div>
                <div class="unform">
                    <div>
                        <label class="myTitleText">This season:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Scorers", "Scorers", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a5", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Result", "Result", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a6", @class = "myLink" })
                    </div>
                </div>
                <br class="clear" />
                <div class="unform">
                    <div>
                        <label class="myTitleText">Archive:</label>
                    </div>
                    <div>
                        @Html.ActionLink("Winners", "Winners", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a7", @class = "myLink" })
                    </div>
                    <div>
                        @Html.ActionLink("Scorers", "ArchScorers", "Home", routeValues: new { fedSeason = Model[0].FederationSeasonId }, htmlAttributes: new { @id = "a8", @class = "myLink" })
                    </div>
                </div>
            </div>
            <div id="loadingDiv"><img src="~/images/icon/ball.gif"></div>
        </div>
    </div>
    <div class="group">
        @foreach (var item in Model)
        {
            string text = @item.Result;
            string textH = @item.HomeTeam;
            string textA = @item.AwayTeam;
            <div style="clear:left;">
                <div class="play-off">
                    @item.Date
                </div>
                <div class="play-offH">
                    @Html.ActionLink(textH, "Team", "Home", new { fedSeason = @item.FederationSeasonId, MatchId = @item.HomeTeam }, null)
                </div>
                <div class="play-off">
                    @Html.ActionLink(text, "Match", "Home", new { MatchId = @item.MatchId }, null)
                </div>
                <div class="play-offA">
                    @Html.ActionLink(textA, "Team", "Home", new { fedSeason = @item.FederationSeasonId, MatchId = @item.AwayTeam }, null)
                </div>
            </div>
        }
    </div>
}
else
{
<div>
    <h2>Request failed</h2>
</div>
} 