@model SportStatistics.Models.PlayerSeason

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Delete</h2>

<div class="sport-delete">
    <h3 class="myValid2">Are you sure you want to delete this?</h3>
    <label class="mTitle">PlayerSeason</label>
    <hr />
    <dl>
        <dt class="myTitleText">
            @Html.DisplayName("Name Sport")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Player.NameSportString)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Name Team")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.TeamSeason.NameTeam)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Season")
        </dt>

        <dd class="myContent2-title">
            @{
                string name = (int)Model.Season + "";
                int seas = Convert.ToInt32(name);
                seas++;
                name = name + "/" + Convert.ToString(seas);
            }
            @name
        </dd>

        <dt class="myTitleText">
            @Html.DisplayName("Gamed Matches")
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.GamedMatches)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt class="myTitleText">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>

        <dd class="myContent2-title">
            @Html.DisplayFor(model => model.Assists)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" class="myButtonDelete" />
            <b> | </b>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "myLinkBack" })
        </div>
    }
</div>
