@model IEnumerable<SportStatistics.Models.PlayerSeason>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.NameSportString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamSeason.NameTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamedMatches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assists)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.NameSportString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamSeason.NameTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GamedMatches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assists)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerSeasonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerSeasonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerSeasonId })
        </td>
    </tr>
}

</table>
