@model IEnumerable<SportStatistics.Models.PlayerSeason>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="myTitleComic">Table of All Player Seasons</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name Sport")
        </th>
        <th>
            @Html.DisplayName("Name Player")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamSeason.NameTeam)
        </th>
        <th>
            @Html.DisplayName("Season")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamedMatches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assists)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.NameSportString)
        </td>
        <td>
            @item.Player.Name @item.Player.Surname
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamSeason.NameTeam)
        </td>
        <td>
            @{
                string name = (int)item.Season + "";
                int seas = Convert.ToInt32(name);
                seas++;
                name = name + "/" + Convert.ToString(seas);
            }
            @name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GamedMatches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assists)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerSeasonId }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerSeasonId })
        </td>
    </tr>
}

</table>
